@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200; 300;400;500&display=swap');

:root{
    --yellow: #fed330;
    --red: #e74c3c;
    --white: #fff;
    --black: #222;
    --light-color: #777;
    border: .2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

*::selection{
    background-color: var(--yellow);
    color: var(--white);
}

::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color:transparent;
}

::-webkit-scrollbar-thumb{
    background-color:var(--yellow);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    stop-opacity: 7rem;
}

section{
    margin:0 auto;
    max-width: 1200px;
    padding: 2rem;
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: var(--white);
    border-bottom: var(--border);
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .flex .logo{
    font-size: 2.5rem;
    color: var(--black);
}

.header .flex .navbar a{
    font-size: 2rem;
    color: var(--black);
    margin: 0 1rem;
}

.header .flex .navbar a:hover{
    color: var(--yellow);
    text-decoration: underline;
}

.header .flex .icons > *{
    margin-left: 1rem;
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .flex .icons > *:hover{
    color: var(--yellow);
}

.header .flex .icons span{
    font-size: 2rem;
}

#menu-btn{
    display: none;
}

/* media queries */

@media (max-width:991px){

    html{
        font-size: 55%;
        
    }
}